/* Variables */
:root {
    --color-orange: #ff6900;
    --color-green: #008000;
    --color-red: #ff0000;
    --color-dark: #1a1a1a;

    --container: 1080px;

    --header-height: 70px;
}


/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    padding-top: calc(var(--header-height) + 20px);
}


/* Utils */
.container {
    max-width: var(--container);
    margin-left: auto;
    margin-right: auto;
}


/* Layout */



/* Debug */
.border {
    border: 2px dashed black
}

/* ====================================== */

/* Header */
header {
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-orange);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.8);
}